In [11]:
a = 'C,B,A'
b = ['F','G','H']
c = a.split(',')
d = c+b
d[0]='K'
e = d.pop(2)
print(e)
del d[1:4]
d.append('U')
print(d)

A
['K', 'H', 'U']

In [6]:
a=input('輸入一個八位數字')
print(a[4])

輸入一個八位數字60794839
4

In [16]:
a = 'My ID is B1206048'
b = a.split(' ')
print(len(b))
print(len(b[3]))

4
8

In [23]:
a = "I'm a student"
b = a.split("'")
c = b[1]
d = c.split(' ')
print(d[0])

m